<p id="notice"><%= notice %></p>

<h1>Needs</h1>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Item</th>
      <th>Category</th>
      <th>Comment</th>
      <th>Enabled</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <tr>
        <td><%= need.organization %></td>
        <td><%= need.item %></td>
        <td><%= need.category %></td>
        <td><%= need.comment %></td>
        <td><%= need.enabled %></td>
        <td><%= link_to 'Show', need %></td>
        <td><%= link_to 'Edit', edit_need_path(need) %></td>
        <td><%= link_to 'Destroy', need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Need', new_need_path %>
