

<% if current_user %>
<h1><%= @organization.name %> Needs</h1>
<% else %>
<h1>Needs by Organization</h1>
<% end %>
<h4>Currently-selected needs are highlighted in green</h4>
<%= link_to 'Create A New Need', new_need_path %>
<br>
<br>


<table class="table table-striped table-responsive-sm">
  <thead>
    <tr>
      <% if !current_user %>
      <th scope="col">Organization</th>
      <% else %>
      <% end %>
      <th scope="col">Item</th>
      <th scope="col">Category</th>
      <th scope="col">Comment</th>
      <%# <th scope="col">Enabled</th> %>
      <th scope="col">Edit Item</th>
      <th scope="col">Delete Item</th>
      
      <%# <th colspan="3"></th> %>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
      <% if (need.enabled == true) %>
      <tr class="table-success">
      <% else %>
      <tr>
      <% end %>
        <% if !current_user %>
        <td><%= need.organization.name %></td>
        <% else %>
        <% end %>
        <td><%= need.item %></td>
        <td><%= need.category %></td>
        <td><%= need.comment %></td>
        <%# <td><%= need.enabled</td>  %>
        <td><%= link_to 'Edit', edit_need_path(need) %> </td> 
        <td><%= link_to 'Destroy', need, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>
<br>
