

<h1>Organizations</h1>

  <% if current_admin %>
  <h3>Registered Users</h3>
  <table>
  <% @users.each do |user| %>
    <tr>
      <td><strong>Name: </strong><%= user.first_name %> <%= user.last_name %></td>
      <td><strong>Email: </strong><%= user.email %></td>
      <td><strong>Approved: </strong><%= user.approved %></td>
      <td><%= link_to "approve", approve_user_path(user.id), method: :put %> </td>
    </tr>
  <% end %>
  </table><br>
  <% end %>

  <tbody>
    <% @organizations.each do |organization| %>
    <div>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.description %></td>
        <td><%= organization.address %></td>
        <td><%= organization.poc_name %></td>
        <td><%= organization.phone %></td>
        <% if current_admin %>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </div><br>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
