<% if current_admin || current_user %>

<h3> <%= @organization.name %>'s Details </h3>
<p> <%= @organization.description %> </p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Address</th>
      <th scope="col">Website</th>
      <th scope="col">Point of Contact</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Dropoff Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>  <%= link_to @organization.address,
        "https://www.google.com/maps/dir/?api=1&destination=#{@organization.address.to_param}",
        target: '_blank' %> 
      </td>
     <td>  <%= link_to @organization.website.sub(/^https?\:\/\/(www.)?/, ''),
          @organization.website,
          target: '_blank' %>
     </td>
     <td> <%= @organization.poc_name %> </td>
     <td> <%= @organization.email %> </td>
     <td> <%= @organization.phone %> </td>
     <td> <%= @organization.dropoff_hours %> </td>
    </tr>
  </tbody>
<table>  

<% else %>

<div class="description"><%= @organization.description %></div>

<div class="detail address">
  <%= link_to @address,
    "https://www.google.com/maps/dir/?api=1&destination=#{@address.to_param}",
    target: '_blank'
  %>
</div>

<% unless @organization.website.blank? %>
  <div class="detail website">
    <%= link_to @organization.website.sub(/^https?\:\/\/(www.)?/, ''),
      @organization.website,
      target: '_blank' %>
  </div>
<% end %>

<% unless @organization.phone.blank? %>
  <div class="detail phone">
    <%= @organization.phone %>
  </div>
<% end %>

<% unless @organization.email.blank? %>
  <div class="detail email">
    <%= @organization.email %>
  </div>
<% end %>

<% unless @organization.dropoff_hours.blank? %>
  <div class="detail hours">
    <%= @organization.dropoff_hours %>
  </div>
<% end %>
<% end %>

<% if current_admin || current_user %>
<hr>

<%= link_to "Edit #{@organization.name}'s Details" , edit_organization_path(@organization) %> |
<%= link_to 'View All Organizations', organizations_path %>
<% else %>
<% end %>
<% if current_admin %>
| <%= link_to 'Delete Organization', @organization, method: :delete, data: { confirm: 'Are you sure you want to delete this organization?' } %>
<% end %>
<% if current_admin || current_user %>
<br>
<br>
<br>
<br>
<% end %>


<% if current_admin || current_user %>

<h2 class="needs"><%= @organization.name %>'s Current Needs</h2>
<p>Click on the icon next to a selected need if you need to add more detail for donors!</p>
<br>
<div class="needs-list">
  <% @categories.each do |category| %>
    <h3 class="category"><%= category %></h3><br>
    <div class="needs-list row">
      <% Need.where(organization_id: @organization.id, category: category).each do |need| %>
        <div id="need-btn-<%= need.id %>" class="col-xs-12 col-md-6">         
          <% if need.enabled? %>
            <% url = need_disable_path(need) %>
            <% style = 'success' %>
          <% else %>
            <% url = need_enable_path(need) %>
            <% style = 'secondary' %>
          <% end %>
          <%= button_to need.item, url, method: :patch, remote: true,
            class: "btn btn-inline btn-#{style} mt-2" %>

          <% if need.enabled? %>
            <%= link_to edit_need_path(need),
              title: 'Add/edit comment',
              class: 'edit-need-link' do %>
              <%= open_iconic :icon, :comment_square %>
            <% end %>
            <% unless need.comment.blank? %>
            <p class="comment">
              <%= need.comment %>
            </p>
          <% end %> 
          <% end %>
        </div>
      <% end %>
    </div> <br><br>
  <% end%> 
  </div>     
  
<% else %>
<h2 class="needs">Current Needs</h2>
<div class="needs-list">
  <% @categories.each do |category| %>
    <h3 class="category"><%= category %></h3>
    <ul class="category">
      <% Need.where(organization_id: @organization.id, category: category, enabled: true).each do |need| %>
        <li class="need">
          <%= need.item %>
          <% unless need.comment.blank? %>
            <div class="comment">
              <%= need.comment %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>


