


<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Point of Contact:</strong>
  <%= @organization.poc_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<% if current_admin || current_user %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<% else %>
<%# <% redirect_to unauthenticated_root_path %> 
<% end %>
<%= link_to 'Back', organizations_path %>
<% if current_admin %>
| <%= link_to 'Delete Organization', @organization, method: :delete, data: { confirm: 'Are you sure you want to delete this organization?' } %>
<% end %>

<% if current_admin || current_user %>

<h2 class="needs">Current Needs</h2>
<div class="needs-list">
  <% @categories.each do |category| %>
    <h3 class="category"><%= category %></h3>
    <div class="category">
      <% Need.where(organization_id: @organization.id, category: category).each do |need| %>
        <div id="need-btn-<%= need.id %>" class="col-xs-12 col-md-6">
          <% if need.enabled? %>
            <% url = need_disable_path(need) %>
            <% style = 'success' %>
          <% else %>
            <% url = need_enable_path(need) %>
            <% style = 'secondary' %>
          <% end %>
          <%= button_to need.item, url, method: :patch, remote: true,
            class: "btn btn-inline btn-#{style} mt-2" %>

          <% if need.enabled? %>
            <%= link_to edit_need_path(need),
              title: 'Add/edit comment',
              class: 'edit-need-link' do %>
              <%= open_iconic :icon, :wrench %>
            <% end %>
          <% end %>
        </div>
          <% unless need.comment.blank? %>
            <div class="comment">
              <%= need.comment %>
            </div>
          <% end %>  
      <% end %>
    </div>  
  <% end%> 
  </div>     
  
<% else %>
<h2 class="needs">Current Needs</h2>
<div class="needs-list">
  <% @categories.each do |category| %>
    <h3 class="category"><%= category %></h3>
    <ul class="category">
      <% Need.where(organization_id: @organization.id, category: category, enabled: true).each do |need| %>
        <li class="need">
          <%= need.item %>
          <% unless need.comment.blank? %>
            <div class="comment">
              <%= need.comment %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
<% end %>


