<!DOCTYPE html>
<html>
  <head>
    <title>DirectEffect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

        <nav>
      <div>
        <ul>
          <li>
            <%= link_to 'Home', authenticated_user_root_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul>
          <li>
            <%= link_to 'Create User Account', users_sign_up_path, class: 'nav-link' %>
          </li>
          <% if current_user %>
            <li>
              <%= link_to 'User Log Out', users_sign_out_path, method: 'delete', class: 'nav-link' %>
            </li>
          <% else %>
            <li>
              <%= link_to 'User Login', users_sign_in_path, class: 'nav-link' %>
            </li>
        </ul>
        <% end %>

          <% if current_admin %>
          <ul>
            <li>
              <%= link_to 'Admins Home', admins_organizations_path, class: 'nav-link' %>
            </li>
          </ul>
          
          <ul>
            <li>
              <%= link_to 'Admin Log Out', admins_sign_out_path, method: 'delete', class: 'nav-link' %>
            </li>
          </ul>
          <% else %>
          <ul>
            <li>
              <%= link_to 'Admin Login', admins_sign_in_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul>    
        <% end %>
      </div>
    </nav> 
    <%= yield %>
  </body>
</html>
