<h2>Sign up</h2>


<h1>Create a New Account</h1>

<div>

  <!-- Form to create an account -->

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


    <div>
      <%= f.label :organization_id %>
      <%= f.collection_select :organization_id,
        Organization.all, :id, :name,
        { prompt: true },
        class: 'form-control' %>
    </div>

    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div><br />

    <div>
      <%= f.submit "Sign up" %>
    </div>


  <% end %>

</div>


